[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ale-py = "*"
tqdm = "*"
torch = "*"
gymnasium = {extras = ["atari"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
